.footer {
  position: relative;
  padding: 10px;
  height: 60px;
  border-top: 2px solid #b92b27;
  letter-spacing: 0.7px;
  text-align: center;

  .github {
    font-size: 1.1em;
    margin: 0;
  }
}
